.PageBikesContainer {
    display: flex;
}
.PageBikesContainer .PageBikesFilterContainer {
    padding: 5px;
    box-shadow: 0 0 5px gray;
    margin-top: 10px;
    margin-right: 10px;
}
.PageBikesContainer .PageBikesFilter {
    padding-top: 10px;
    padding-bottom: 10px;
}
.PageBikesContainer .SelectPageBikes {
    width: auto;
}
.PageBikesContainer .PriceInput{
    width: 4em;
}
.ShowFilterButton {
    display: none;
}
.PageBikesPages {
    display: flex;
    justify-content: center;
} 

.PageBikesPages .PageLink, .PageBikesPages .ActivePageLink {
    display: block;
    text-decoration: none;
    font-size: 150%;
    padding: 3px;
    margin: 3px;
}
.PageBikesPages .ActivePageLink {
    color: white;
    background-color: blue;
    box-shadow: 0 0 2px blue;
}
@media all and (max-width: 640px){
    .PageBikesContainer {
        flex-direction: column;
    }
    .ShowFilterButton {
        display: block;
    }
    .HideFilterButton {
        display: none;
    }
}