.PopUpMessage {
    position: fixed;
    animation: PopUpMessageDissapear 5s ;
    background-color: snow;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    top: -100%;
    border-radius: 10px;
    z-index: 100;
    left: 20px;
}
@keyframes PopUpMessageDissapear 
{
    from {top: -100%}
    10%{top:1%}
    80% {top:1%}
    to {top: -100%}
}