div.LogInRegFormContainer {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 20;
} 
div.LogInRegForm {
    background-color: snow;
    position: absolute;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
div.LogInRegFormLoading{
    color: snow;
    font-size: 2em
}
.LogInRegFormContainer .ButtonValid {
    background-color: green;
    color: snow;
}

.LogInRegFormContainer .Link {
    color: blue;
    cursor: pointer;
}
.LogInRegFormContainer .Link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}    
.LogInRegFormContainer .Cabinet {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    min-height: 50%;
    box-shadow: 5px 5px snow;
    background-color: snow;
}
.CabinetOrderCotainer{
    display: flex;
}
.CabinetOrderCotainer .Date{
    flex-grow: 1
}
.CabinetOrderCotainer .Time{
    flex-grow: 1
}
.CabinetOrderCotainer .Items{
    flex-grow: 4
}
.CabinetOrderCotainer .Total{
    flex-grow: 1
}